<div class="flex-container" fxLayout="row wrap">
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
  <div fxFlex.md="100%" fxFlex.lg.new="33.3%" fxFlex.xl.new="25%">1</div>
</div>

<!-- <div fxFlex.sm="100%" fxFlex.md="50%" fxFlex.lg="33.3%" fxFlex.xl="25%">1</div> -->
<!-- fxFlex breakpoints = lg-1280-1919, md-960-1279, sm-600-959, xs < 599 -->
<!-- lg.new = 1450 - 1819, xl.new = > 1820-->