button {
    margin-right: 5px;
}
#a-now {
    margin-top: 15px;
}

#a-now mat-radio-button {
    display: block;
    margin: 4px 0;
}

#me_msg {
  opacity: .38;
  position: relative;
  top: 55px;
  left: -1;
}
