<div class="page-container">
  <h1>Component Playground</h1>
  <button mat-button>Basic</button>
  <button mat-flat-button color="primary">Flat</button>
  <button mat-raised-button color="accent">Raised</button>
  <button mat-stroked-button color="warn">Stroked</button>
  <p><a href="https://material.angular.io/components/button/examples" target="new">More here</a></p>
  <mat-checkbox color="primary">Check me!</mat-checkbox>
  <div id="a-now">
    <mat-radio-group>Apocalypse <strong>Now</strong>
      <mat-radio-button value="Kurtz">Kurtz</mat-radio-button>
      <mat-radio-button value="willard">Willard</mat-radio-button>
      <mat-radio-button value="clean">Mr. Clean</mat-radio-button>
    </mat-radio-group>
  </div>
  <div>
    <h4>Basic select</h4>
    <mat-form-field>
      <mat-select placeholder="Pick your favorite:">
        <mat-option value="kurtz">Kurtz</mat-option>
        <mat-option value="willard">Willard</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
